/* CONFIGURACIÓN GENERAL */
body {
    background-color: #0d0e15; /* Tu fondo oscuro espacial */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

/* PORTADA */
.portada {
    background: linear-gradient(135deg, #1f1235 0%, #0d0e15 100%);
    border-bottom: 4px solid #6200ea;
    padding: 40px 20px;
    text-align: center;
}

.logotipo-imagen {
    max-width: 90%;
    width: 280px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.portada h2 {
    font-size: 2.2rem;
    letter-spacing: 6px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin: 0;
}

.instrucciones {
    margin-top: 15px;
    color: #39ff14; /* Tu verde neón original */
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
}

/* GRILLA DE PRODUCTOS */
.contenedor-catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* TARJETAS NEÓN */
.tarjeta-juego {
    background-color: #1f2336;
    border-radius: 12px;
    padding: 20px;
    width: 280px;
    text-align: center;
    border: 1px solid #3a3f58;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.foto-juego {
    width: 100%;
    height: 220px;
    object-fit: contain;
    border-radius: 8px;
    border: 2px solid #00f0ff; /* Borde cian original */
    margin-bottom: 15px;
}

.descripcion {
    font-size: 0.9rem;
    color: #9aa0b9;
    margin-bottom: 15px;
}

.precio {
    font-size: 1.8rem;
    font-weight: bold;
    color: #39ff14; /* Verde brillante */
    margin-bottom: 15px;
}

/* BADGES */
.badge {
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}
.disponible { 
    background-color: #00ff88; 
    color: #000; 
}

/* PIE DE PÁGINA */
.contraportada {
    background: linear-gradient(45deg, #0d0e15 0%, #1f1235 100%);
    padding: 40px 20px;
    text-align: center;
    border-top: 2px solid #3a3f58;
}

.btn-whatsapp {
    display: inline-block;
    background-color: #25d366;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(37, 211, 102, 0.4);
    margin-top: 15px;
}

.pie-pagina {
    margin-top: 30px;
    font-size: 0.8rem;
    color: #444;
}



